rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function isSignedIn() {
      return request.auth != null;
    }

    // Use custom claims for role checks. This is much more secure and performant.
    function isAdmin() {
      return isSignedIn() && request.auth.token.admin == true;
    }

    // Allow users to read and write their own data.
    match /users/{userId} {
      allow read, write: if isOwner(userId);
    }
    
    // Admins can read and write all documents in the database.
    match /{document=**} {
      allow read, write: if isAdmin();
    }
  }
}
